@FondoGeneral :  #DDD;

body#EduNode {
	background-color: @FondoGeneral;
	.container-fluid {
		.row-fluid{
			.span2 {
				.thumbnails {
					.span7 {
						margin-bottom:50px;
						.thumbnail {
							height:80px;
							aling:center;
							
						}
					}
				}
			}
		}
		
	}
}

/*
.mainContainer {
	position:absolute;
	left:0px;
	right:0px;
	padding:0px;
	overflow:hidden;
	top:50px;
	bottom:0px;
}

.sideMenu {
	width:120px;
	position:absolute;
	top:4px;
	bottom:0px;
	left:0px;
}

.mainView {
	position:absolute;
	background:#EFEFEF;
	left:120px;
	top:4px;
	right:-10px;
	bottom:-10px;
	padding:10px 20px 20px 10px;
	border-radius:8px;
	border:1px solid #EEE;
	box-shadow: -2px -2px 2px #BBB;
}
*/